<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application>
        <activity
            android:name="com.safeNest.demo.features.home.impl.presentation.HomeActivity"
            android:exported="false" />

        <service
            android:name=".presentation.ui.recording.AudioRecordingService"
            android:exported="false"
            android:foregroundServiceType="microphone" />
    </application>

</manifest>