<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="com.safeNest.demo.features.home.impl.presentation.HomeActivity"
            android:exported="false" />
    </application>

</manifest>