<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <application
        android:usesCleartextTraffic="true">
        <activity
            android:name="net.qualgo.safeNest.features.phishingDetection.impl.presentation.PhishingDetectionActivity"
            android:exported="false" />
    </application>
</manifest>